
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav{
    margin: 20px 60px ;
}


/* shared style */
.about-c{
    font-size: 20px;
    font-weight: 800;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: 800;
    color:#181818 ;
}
.section-description, .about-common{
    font-size: 18px;
    color: #757575;
}
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.common-btn{
    border: none;
    background-color: #FD6E0A;
    color: white;
    padding: 18px 34px;
    border-radius:5px ;
    font-weight: 600;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    
}
ul li{
    list-style: none;
    margin-right: 50px;
}
ul li a{
    text-decoration: none;
}

header{
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner start */
.about{
    max-width:1140px ;
    margin: 30px auto ;
    text-align: center;
    padding: 120px 150px ;
    border: 1px solid black;
    border-radius: 10px;
}
.abouts-item{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 35px 0 200px;
}
.banner-greetings{
    font-weight:800;
    font-size: 40px;
}
.banner-title{
    font-weight: bold;
    font-size: 80px;
}
.banner-description{
    /* font-size:16px; */
    font-weight: 500;
}
.banner-img{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}

.whatIDoTitle, .resume-title{
    font-weight: 800;
    font-size: 35px;
    
}
.textSection{
    text-align: center;
}
.whatIDo{
    max-width: 1140px;
    margin: 40px auto 20px;
}
.card-whatToDo{
    margin-top: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}
.cards-bg{
        background-color: beige;
        padding: 29px 15px;
        border-radius: 8px;
        box-shadow: 5px 8px 10px black;

}

.resume{
    max-width: 1140px;
    margin: 50px auto;
}
.resume h2{
    text-align: center;
}

.resumetitle1{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.resumetitle2{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.resume .details{
    margin: 20px 0;
    font-size: 16px;
    color: #474747;
}

.resume-card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.first-container{
    /* display: ; */
}